<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'panel' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'filter_area' %>
        </div>
        <div class="row">
          <%= render partial: 'product_box', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
