<li>
  <%= link_to "javascript:;", "data-toggle": "collapse", "data-target": "#taxonomy_#{taxonomy.id}" do %>
    <%= taxonomy.name %><i class="fa fa-plus"></i>
  <% end %>
  <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
    <% taxonomy.root.leaves.each do |leaf| %>
      <li>
        <%= link_to potepan_category_path(leaf.id) do %>
          <i class="fa fa-caret-right" aria-hidden="true"></i><%= leaf.name %>
          <span>(<%= leaf.products.size %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
