<%= provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render 'shared/light_section', subject: @product.name %>
<!-- MAIN CONTENT SECTION -->
<%= render 'main_contain_section', product: @product %>
